
body{
  background-color: #fff3e6;
}
/*
/////////////////////////
header
////////////////////////
*/

header{
    background-color: #fff3e6;
}
.first{
  margin-top: -10px;
  position:fixed;
}
/*
.sub_header{
  background-image: url(../img/header4.jpg);
  background-size: 100% 100%;
  width:960px;
  height:300px;
  margin-top: 110px;
}
*/
*{
  font-family: 'sans-serif' , serif;
}

.logo{
  margin-top: 100px;
  margin-left: 20px;
  font-family: 'Indie Flower', cursive ;
  font-weight: bolder;
  font-size: 50px;
}
.first  ul li{
  position:relative;
  top:40px;
  //font-family: 'Indie Flower', cursive ;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 10px;
}
header a{
  text-decoration:none;
  color:#84634c;
}
header ul li a:hover{
  color:#94ba43;
}
nav ul li{
  display:inline;
  margin-right: 20px;
}
/*
///////////////////////
menu-one
//////////////////////
*/
.menu_one{
  margin-top: 50px;
}
.menu_one .grid_3{
 text-align: center;
}
.menu_one .grid_3 a{
  color:#84634c;
  font-style: normal;
  text-decoration: none;
}
/*
/////////////////////
ruler
////////////////////
*/
.rule{
  margin-top: 120px;
  margin-bottom: 20px;
  width:100%;
}

/*
///////////////////////
main
//////////////////////
*/
.hero_unit{
  margin-top: 10px;
  background-color:#ffe6cc;
  width:100%;
  height:600px;
  color:#84634c;
  text-align:center;
}
.hero_img{
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}
.hero_unit h4{
  font-weight: bolder;
  font-size: 24px;
  padding-top: 20px;
  margin-top:0px;
  letter-spacing: 5px;
  line-height: 50px;
  text-transform: uppercase;
}
/*
///////////////////
footer
//////////////////
*/

.footer a,p{
  color:grey;
 font-size: 18px;
}
 .footer_right p{
  text-align: right;
}
i{
  margin-left: 10px;
  margin-right: 10px;
}
/*
///////////////////
defenition
//////////////////
*/

.defenition_one{
  margin-top:0px;
  min-height:300px;
  margin-bottom: 30px;
}
.defenition, .defenition_one h3{
  text-align: center;
}
.defenition_one .grid_4 h3 a{
  color:#84634c;
}
.defenition_one img{
  height:200px;
  width:230px;
}

.defenition_one .grid_4{
  text-align: center;
}

.defenition_one h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 2px;
  color:#84634c;
}
.defenition_one h3 a{
  text-align: center;
  color:grey;
  text-decoration: none;
}
.defenition_one h3 a:hover{
   color:#94ba43;
}
.defenition_one p{
    font-style: normal;
text-align:  center;
}
.defenition_one h4 {
  text-align:right;
}
.defenition_one h4 a{
  text-decoration: none;
  color:#84634c;
  margin-right: 20px;
}
.defenition_one h4 a:hover{
color:brown;
}

/*
////////////////////
recipes.html
///////////////////
*/
.recipe_detail h3{
  color:#84634c;
  font-size: 24px;
}
.recipe_detail .grid_8{
  margin-top: -10px;
  margin-bottom: -10px;
}
.recipe_detail{
  margin-top: 10px;
  margin-bottom: 40px;
}
.recipe_detail img{
  height:200px;
  width:300px;
  border:5px;
  border-color: black;
}
.recipe_detail a{
  text-decoration: none;
  color:green;
  float: right;
  font-size: 18px;
  margin-top: -30px;
}
.recipe_detail a:hover{
  color:violet;
}
/*
//////////////////
ruler
/////////////////
*/
.container_12 hr{
  width:100px;
}

/*
//////////////////
recipe_details
/////////////////
*/
.recipe_Details .grid_4 img{
   margin-top: 50px;
   margin-right: 10px;
   padding:0px;
   border:2px solid green;
}
.recipe_details .top_container {
  border-left:1px solid grey;

}
 .recipe_details .grid_8 h2,h3,p{
   margin-left: 10px;
   text-decoration: none;
   line-height: 25px;
 }
 .recipe_details .grid_8 h2,h3{
   color:#84634c;
 }
.recipe_details li{
  line-height: 30px;
  color:grey;
  font-size: 20px;
  text-transform:capitalize;
}
